/* ---------------------- VARIABLES ---------------------- */
@linkColor: #03658f;
@border: 1px solid black;


/* ---------------------- FONT-FACES ---------------------- */
@font-face{
  font-family: 'ocr';
  src: url('fontes/Ocr-Pbi-pen_x1_y1.ttf');
}

@font-face{
  font-family: 'substitut';
  src: url('fontes/substitut.ttf');
}


/* ---------------------- GLOBAL ---------------------- */

body{
  font-family: 'ocr', 'substitut';
  font-size: 12px;
  margin: 20px;

  ul,
  ul li{
    display: inline;
  }

  .clear{
    clear: both;
  }

  a{
    color: @linkColor;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }


  /* ---------------------- NAV ---------------------- */

  #nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    border-bottom: @border;
    padding: 10px;
    z-index: 100;
    ul{
      li{
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        margin: 0 10px;
        input{
          vertical-align: top;
        }
      }
    }
    .left{
      float: left;
      li:hover{
        cursor: pointer;
        border-bottom: @border;
      }
      .inside{
        left: 10px;
        li{
          display: block;
        }
      }
    }
    .inside{
	display: none;
      position: absolute;
      background: white;
      border: @border;
      padding: 10px 0;
    }
    .right{
      float: right;
      .inside{
        right: 10px;
      }
    }
    .color{
      border: @border;
      display: inline-block;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  /* ---------------------- SPECNAV ---------------------- */

  #specNav{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: 16%;
    background: white;
    height: 20px;
    border-bottom: @border;
    li{
      padding: 0 10px;
      cursor: pointer;
      &:hover, &.current{
        text-decoration: underline;
      }
    }
  }

  /* ---------------------- HOME ---------------------- */

  #content{
    width: 100%;
    margin-top: 75px;
    .fonte{
      margin: 10px 0 20px 0;
      border-bottom: @border;
      position: relative;
      .deroule{
        position: absolute;
        right: 0;
        top: -21px;
        padding: 3px;
        border: @border;
        &:hover, &.on{
          cursor: pointer;
          color: white;
          background: black;
        }
      }
      p{
        font-family: 'substitut';
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        input{
          background: transparent;
          width: 100%;
          border: 0;
          white-space: nowrap;
          font-family: inherit;
          text-align: center;
          font-size: 100px;
          font-size: 100px;
        }
      }
    }
    .infos li{
      display: inline-block;
      width: 16%;
      vertical-align: top;
    }
  }

  /* ---------------------- FONT INFOS (SPECIMEN) ---------------------- */

  #fontInfos{
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 75px;
    width: 15%;
    border-right: @border;
    line-height: 1.4em;
    ul, li{
      display: block;
    }
    li{
      margin-left: 9px;
    }
    h1{
      padding-bottom: 10px;
    }
  }

  /* ---------------------- SPECIMEN ---------------------- */

  #specimen{
    margin-left: 15%;
    width: 85%;
    margin-top: 75px;
    padding-left: 20px;
    text-align: left;
    p{
      input{
        background: transparent;
        width: 100%;
        border: 0;
        white-space: nowrap;
        font-family: inherit;
      }
    }
    .part{
      border-bottom: @border;
      h2{
        margin-top: 15px;
      }
      h2, .size{
        font-family: 'ocr';
        margin-bottom: 15px;
      }
    }
    .waterfall input{
      text-align: left;
    }
    .layout{
      h3{
        font-size: 100px;
      }
      h3, p{
        margin: 0;
        padding: 10px;
        line-height: 1.15em;
      }
      .headline{
        font-size: 50px;
      }
      .col{
        font-size: 20px;
        width: calc(~"50% - 40px");
        float: left;
        padding: 10px;
      }
    }
    .az{
      white-space: normal !important;
      text-align: center;
      font-size: 100px;
      margin: 0;
      padding-right: 20px;
      line-height: 1.3em;
    }
    .approche{
      font-size: 30px;
    }
    .charMap canvas{
      margin-top: 200px;
    }
  }

  /* ---------------------- À PROPOS ---------------------- */
  .apropos{
    max-width: 600px;
    font-size: 1.25em;
    line-height: 1.2;
    h1, h2{
      margin-top: 20px;
      text-decoration: underline;
    }
    p{
      text-indent: 20px;
      .note{
        position: absolute;
        width: 180px;
        left: 640px;
	font-size: 12px;
	text-indent: 0;
      }
      img{
	width: 100%;
	margin: 20px 0;
	margin-left: -20px;
      }
    }
    p:nth-of-type(1){
      text-indent: 0;
    }
  }
}
