@font-face{
  font-family: 'ocr';
  src: url('fontes/Ocr-Pbi-pen_x1_y1.ttf');
}

@font-face{
  font-family: 'substitut';
  src: url('fontes/substitut.ttf');
}


/* ---------------------- GLOBAL ---------------------- */

body{
  font-family: 'ocr', 'substitut';
  font-size: 12px;
  margin: 20px;
}

ul,
ul li{
  display: inline;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4{
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

.clear{
  clear: both;
}

a{
  color: #03658f;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


/* ---------------------- NAV ---------------------- */

#nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  border-bottom: 1px solid black;
  padding: 10px;
  z-index: 100;
}

#nav li{
  margin: 0 10px;
}

#nav .left{
  float: left;
}

#nav .left li:hover{
  cursor: pointer;
  border-bottom: 1px solid black;
}

#nav .inside{
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 10px 0;
}

#nav .left .inside{
  left: 0;
}

#nav .left .inside,
#nav .left .inside li{
  display: block;
}

#nav .right{
  float: right;
}

#nav .right .inside{
  right: 10px;
}

#nav .color{
  border: 1px solid black;
  display: inline-block;
  width: 15px;
  height: 15px;
}

/* ---------------------- SPECNAV ---------------------- */

#specNav{
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin-left: 16%;
  background: white;
  height: 20px;
  border-bottom: 1px solid black;
}

#specNav li{
  padding: 0 10px;
}

#specNav li{
  cursor: pointer;
}

#specNav li:hover, #specNav li.current{
  text-decoration: underline;
}

/* ---------------------- CONTENT ---------------------- */

#content{
  width: 100%;
  margin-top: 75px;
}

#content .fonte{
  margin: 10px 0 20px 0;
  border-bottom: 1px solid black;
  position: relative;
}

#content .fonte .deroule{
  position: absolute;
  right: 0;
  top: -21px;
  padding: 3px;
  border: 1px solid black;
}

#content .fonte .deroule:hover,
#content .fonte .deroule.on{
  cursor: pointer;
  color: white;
  background: black;
}

#content .fonte p{
  font-family: 'substitut';
  /*display: none;*/
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#content p:nth-of-type(1){
  /*display: block;*/
}

#content p input, #specimen p input{
  background: transparent;
  width: 100%;
  border: 0;
  white-space: nowrap;
  font-family: inherit;
  text-align: center;
}

#content p input{
  font-size: 100px;
  text-align: center;
}

#content .infos li{
  display: inline-block;
  width: 16%;
  vertical-align: top;
}


/* ---------------------- FONT INFOS ---------------------- */

#fontInfos{
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 75px;
  width: 15%;
  border-right: 1px solid black;
  line-height: 1.4em;

}

#fontInfos ul,
#fontInfos li{
  display: block;
}

#fontInfos h1{
  padding-bottom: 10px;
}

#fontInfos li{
  margin-left: 9px;
}

/* ---------------------- SPECIMEN ---------------------- */

#specimen{
  margin-left: 15%;
  width: 85%;
  margin-top: 75px;
  padding-left: 20px;
  text-align: left;
}

#specimen .part{
  border-bottom: 1px solid black;
}

#specimen .part h2{
  margin-top: 15px;
}

#specimen .part h2,
#specimen .part .size{
  font-family: 'ocr';
  margin-bottom: 15px;
}

#specimen .waterfall input{
  text-align: left;
}

#specimen .layout h3,
#specimen .layout p{
  margin: 0;
  padding: 10px;
  line-height: 1.15em;
}

#specimen .layout h3{
  font-size: 100px;
}

#specimen .layout .headline{
  font-size: 50px;
}

#specimen .layout .col{
  font-size: 20px;
  width: calc(50% - 40px);
  float: left;
  padding: 10px;
}

#specimen .text p{
}

#specimen .az p{
  white-space: normal !important;
  text-align: center;
  font-size: 100px;
  margin: 0;
  padding-right: 20px;
  line-height: 1.3em;
}

#specimen .approche p{
  font-size: 30px;
}

#specimen .charMap canvas{
  margin-top: 200px;
}
